<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>535318961078-7apr61vj5bb3bi855cmi0efgau7feqmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535318961078-7apr61vj5bb3bi855cmi0efgau7feqmq</string>
	<key>API_KEY</key>
	<string>AIzaSyBHGGh3k4f2xfhFyW4fpcMna3s5Km6Nsq0</string>
	<key>GCM_SENDER_ID</key>
	<string>535318961078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emreozdil.GEM</string>
	<key>PROJECT_ID</key>
	<string>gem-ios-3a8e7</string>
	<key>STORAGE_BUCKET</key>
	<string>gem-ios-3a8e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535318961078:ios:a304b194da5b36c4</string>
	<key>DATABASE_URL</key>
	<string>https://gem-ios-3a8e7.firebaseio.com</string>
</dict>
</plist>